﻿<h4>Consulta de empleados</h4>
<hr />
<script>
    $(document).ready(function () {
        $.get("@Url.Action("CalculationMasterDetailsViews")", { option: $("#option").val() }).done(function (data) {
             $('#containerView').html(data);
        })
        $.get("@Url.Action("Search")", { code: $("#EmployeCode").val() }).done(function (data) {
            $('#dataContainer').html(data);
         })
        $('#SearchBtn').click(function () {
            $.get("@Url.Action("CalculationMasterDetailsViews")", { option: $("#option").val(), employeCode: $("#EmployeCode").val() }).done(function (data) {
                $('#containerView').html(data);
            });
              $.get("@Url.Action("Search")", { code: $("#EmployeCode").val() }).done(function (data) {
            $('#dataContainer').html(data);
            })
        })
    });
</script>
<div class="row">
    <div class="card col-12">
        <div class="card">
            <div class="card-header">Datos del Empleado</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label">Codigo Empleado</label>
                            <input id="EmployeCode" name="EmployeCode" class="form-control" />
                        </div>
                        <div class="form-group">
                            @Html.DropDownList("option",
                new SelectList(new List<SelectListItem> {
                    new SelectListItem { Value = "0", Text = "Totos" },
                    new SelectListItem { Value = "1", Text = "Misma oficina y Grado" },
                    new SelectListItem { Value = "2", Text = "Todas oficinas y mismo Grado" },
                    new SelectListItem { Value = "3", Text = "Misma Posicion y Grado" },
                    new SelectListItem { Value = "4", Text = "Todas posiciones y mismo Grado" },
                },"Value","Text"),
                new { @class = "form-control" })
                        </div>
                        <button id="SearchBtn" type="button" class="btn btn-success">Buscar</button>
                    </div>
                    <div class="col-lg-9">

                        <div id="dataContainer"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card col-12">
        <div class="card">
            <div class="card-header">Consulta</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="containerView">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>