﻿@model IEnumerable<DK.ApplicationCore.DTOs.CalculationsEmployesSalaryViewDtos>
<script>
    $(document).ready(function () {
        var dataTable = $('#sample_data').DataTable({
            "searching": false,
            "lengthChange": false,
            "pageLength": 10,
            "bInfo": false
        });
        $('#sample_data_wrapper').removeClass('form-inline');
        $('#sample_data').css('width', '-webkit-fill-available');
        $('ul.pagination').attr('style', 'display: inline-block; !important');
    });
</script>

                    <table id="sample_data" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Codigo Empleado</th>
                                <th>Nombre Completo</th>
                                <th>Posicion</th>
                                <th>Fecha de Inicio</th>
                                <th>Cumpleaños</th>
                                <th>Numero identificacion</th>
                                <th>SalarioTotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in this.Model)
                            {
                            <tr>
                                <td>@item.EmployeCode</td>
                                <td>@item.EmployeFullName</td>
                                <td>@item.Position</td>
                                <td>@item.BeginDate.ToString("yyyy-MM-dd")</td>
                                <td>@item.BeginDate.ToString("yyyy-MM-dd")</td>
                                <td>@item.IdentificationNumber</td>
                                <td>@item.TotalSalary</td>
                            </tr>
                            }
                        </tbody>
                    </table>
               