﻿@model DK.ApplicationCore.DTOs.EmployeGeneralDataDto

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>


<script>
    $(document).ready(function () {


        var dataTable = $('#sample_data').DataTable({
            "searching": false,
            "lengthChange": false,
            "pageLength": 4,
            "bInfo": false,
            "order": [],
            "data": [],
            createdRow: function (row, data, rowIndex) {
                $.each($('td', row), function (colIndex) {
                    if (colIndex == 0) {
                        $(this).attr('data-name', 'Year');
                        $(this).attr('class', 'Year');
                        $(this).attr('data-type', 'number');
                        $(this).attr('data-pk', data[0]);
                    }
                    if (colIndex == 1) {
                        $(this).attr('data-name', 'Month');
                        $(this).attr('class', 'Month');
                        $(this).attr('data-type', 'select');
                        $(this).attr('data-pk', data[0]);
                    }
                    if (colIndex == 2) {
                        $(this).attr('data-name', 'BaseSalary');
                        $(this).attr('class', 'BaseSalary');
                        $(this).attr('data-type', 'text');
                        $(this).attr('data-pk', data[0]);
                    }
                    if (colIndex == 3) {
                        $(this).attr('data-name', 'ProductionBonus');
                        $(this).attr('class', 'ProductionBonus');
                        $(this).attr('data-type', 'text');
                        $(this).attr('data-pk', data[0]);
                    }
                    if (colIndex == 4) {
                        $(this).attr('data-name', 'CompensationBonus');
                        $(this).attr('class', 'CompensationBonus');
                        $(this).attr('data-type', 'text');
                        $(this).attr('data-pk', data[0]);
                    }
                    if (colIndex == 5) {
                        $(this).attr('data-name', 'Commission');
                        $(this).attr('class', 'Commission');
                        $(this).attr('data-type', 'text');
                        $(this).attr('data-pk', data[0]);
                    }
                    if (colIndex == 6) {
                        $(this).attr('data-name', 'Contributions');
                        $(this).attr('class', 'Contributions');
                        $(this).attr('data-type', 'text');
                        $(this).attr('data-pk', data[0]);
                    }
                });
            }
        });
        $('#sample_data_wrapper').removeClass('form-inline');
        $('#sample_data').css('width', '-webkit-fill-available');
        $('#sample_data').editable({
            container: 'body',
            selector: 'td.Year',
            emptytext : '2000',
            title: 'Año'

        });
        var monthValues = [
            { value: 1, text: 'Enero' },
            { value: 2, text: 'Febrero' },
            { value: 3, text: 'Marzo' },
            { value: 4, text: 'Abril' },
            { value: 5, text: 'Mayo' },
            { value: 6, text: 'Junio' },
            { value: 7, text: 'Julio' },
            { value: 8, text: 'Agosto' },
            { value: 9, text: 'Septiembre' },
            { value: 10, text: 'Octubre' },
            { value: 11, text: 'Noviembre' },
            { value: 12, text: 'Diciembre' },
        ];
        $('#sample_data').editable({
            container: 'body',
            selector: 'td.Month',

            title: 'Mes',
            value: 2,
            source: monthValues

        });
        $('#sample_data').editable({
            container: 'body',
            selector: 'td.BaseSalary',
            emptytext: '0.00',
            title: 'Salario Base'

        });
        $('#sample_data').editable({
            container: 'body',
            selector: 'td.ProductionBonus',
            emptytext: '0.00',
            title: 'Bono de Produccion'

        });
        $('#sample_data').editable({
            container: 'body',
            selector: 'td.CompensationBonus',
            emptytext: '0.00',
            title: 'Bono de Compensacion'

        });
        $('#sample_data').editable({
            container: 'body',
            selector: 'td.Commission',
            emptytext: '0.00',
            title: 'Comision'

        });
        $('#sample_data').editable({
            container: 'body',
            selector: 'td.Contributions',
            emptytext: '0.00',
            title: 'Contribucion'

        });
        $.get("@Url.Action("Search")", { code: $("#EmployeCode").val() }).done(function (data) {
                $('#dataContainer').html(data);
            })
        $('#SearchBtn').click(function () {
            $.get("@Url.Action("Search")", { code: $("#EmployeCode").val() }).done(function (data) {
                $('#dataContainer').html(data);
            })
        })
        $('#addBtn').click(function () {
            $('#sample_data').DataTable().row.add([
                1900, 2, 0, 0, 0, 0, 0
        ] ).draw( false );
        })

        $('#saveForm').click(function () {
            var generalData = $('form').serializeArray();
            var dataLines = $('#sample_data').DataTable().data().toArray();
            var collection = [];
            $('#sample_data').find('tr').each(function (i) {
                var $tds = $(this).find('td');
                if (i > 0)
                    collection.push({ Year: $tds.eq(0).text(), Month: $tds.eq(1).text() == ''? 1: monthValues.find(data => data.text === $tds.eq(1).text()).value, BaseSalary: $tds.eq(2).text(), ProductionBonus: $tds.eq(3).text(), CompensationBonus: $tds.eq(4).text(), Commission: $tds.eq(5).text(), Contributions: $tds.eq(6).text() });

            });


            var objectSend = {
                EmployeCode: generalData.find(data => data.name === "EmployeCode").value,
                EmployeName: generalData.find(data => data.name === "EmployeName").value,
                EmployeSurname: generalData.find(data => data.name === "EmployeSurname").value,
                Division: generalData.find(data => data.name === "Division").value,
                Grade: generalData.find(data => data.name === "Grade").value,
                BeginDate: generalData.find(data => data.name === "BeginDate").value,
                Birthday: generalData.find(data => data.name === "Birthday").value,
                IdentificationNumber: generalData.find(data => data.name === "IdentificationNumber").value,
                Office: generalData.find(data => data.name === "Office").value,
                Position: generalData.find(data => data.name === "Position").value,
                LinesData: collection
            };

            $.post("@Url.Action("Create")", objectSend).done(function (data) {
                if (!data.passed) {
                    $("#ErrorCard").show();

                    $.get("@Url.Action("ErrorView")", { messge: data.pageResult }).done(function (data) {
                        $('#dataContainer').html(data);
                    })
                } else {
                    $("#ErrorCard").hide();
                    $("#bodyErrorCard").html('');
                    window.location.href = '@Url.Action("Successful")';
                }
                console.log(data);
            }).fail(function () {
                alert("No se pudo procesar la solicitud");
            });

        })
    })
</script>

<h4>Creacion Maestra de calculos de salario</h4>
<hr />
<form asp-action="Create">

    <div id="ErrorCard" style="display: none;" class="card col-12">
        <div class="card">
            <div class="card-header bg-danger">Error</div>
            <div id="bodyErrorCard" class="card-body">




            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-12">
            <div class="card">
                <div class="card-header">Datos del Empleado</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="EmployeCode" class="control-label"></label>
                                <input asp-for="EmployeCode" class="form-control" />

                                <span asp-validation-for="EmployeCode" class="text-danger"></span>
                            </div>
                            <button id="SearchBtn" type="button" class="btn btn-success">Buscar</button>
                        </div>
                        <div class="col-lg-9">

                            <div id="dataContainer"></div>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <div class="row">




    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">Tabla Economica</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <button id="addBtn" type="button" class="btn btn-success">Agregar</button>
                        <br />
                        <table id="sample_data" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Año</th>
                                    <th>Mes</th>
                                    <th>Salario Base</th>
                                    <th>Bono Produccion</th>
                                    <th>Bono Compensacion</th>
                                    <th>Comision</th>
                                    <th>Contribucion</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <button id="saveForm" class="btn btn-success" type="button">Guardar</button>
                </div>
            </div>
        </div>

    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
