﻿@model DK.ApplicationCore.DTOs.EmployeGeneralDataDto

         

                <dl class="row">
                    <div class="col-lg-6">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.EmployeName)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.EmployeName)
                            @Html.HiddenFor(model => model.EmployeName)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.EmployeSurname)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.EmployeSurname)
                            @Html.HiddenFor(model => model.EmployeSurname)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Division)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Division)
                            @Html.HiddenFor(model => model.Division)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.IdentificationNumber)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.IdentificationNumber)
                            @Html.HiddenFor(model => model.IdentificationNumber)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Office)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Office)
                            @Html.HiddenFor(model => model.Office)
                        </dd>

                    </div>
                    <div class="col-lg-6">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Position)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Position)
                            @Html.HiddenFor(model => model.Position)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Grade)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Grade)
                            @Html.HiddenFor(model => model.Grade)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.BeginDate)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.BeginDate)
                            @Html.HiddenFor(model => model.BeginDate)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Birthday)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Birthday)
                            @Html.HiddenFor(model => model.Birthday)
                        </dd>
                        
                        </div>
</dl>
         
