﻿@model DK.ApplicationCore.DTOs.LastSalariesDto;
<h4>Consulta Ultimos Salarios</h4>
<hr />
<script>
    $(document).ready(function () {
       
        $('#sample_data_wrapper').removeClass('form-inline');
        $('#sample_data').css('width', '-webkit-fill-available');
        $('ul.pagination').attr('style', 'display: inline-block; !important');
    });

</script>
<form asp-action="LastSalaries">
    <div class="row">
        <div class="card col-12">
            <div class="card">
                <div class="card-header">Datos del Empleado</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="EmployeCode" class="control-label"></label>
                                <input asp-for="EmployeCode" class="form-control" />

                                <span asp-validation-for="EmployeCode" class="text-danger"></span>
                            </div>

                            <button id="SearchBtn" type="submit" class="btn btn-success">Buscar</button>
                        </div>
                        <div class="col-lg-9">

                            <div id="dataContainer">
                                <dl class="row">
                                    <div class="col-lg-6">
                                        <dt class="col-sm-6">
                                            @Html.DisplayNameFor(model => model.EmployeName)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.EmployeName)
                                            @Html.HiddenFor(model => model.EmployeName)
                                        </dd>
                                        <dt class="col-sm-6">
                                            @Html.DisplayNameFor(model => model.EmployeSurname)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.EmployeSurname)
                                            @Html.HiddenFor(model => model.EmployeSurname)
                                        </dd>
                                        <dt class="col-sm-6">
                                            @Html.DisplayNameFor(model => model.Division)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.Division)
                                            @Html.HiddenFor(model => model.Division)
                                        </dd>
                                        <dt class="col-sm-6">
                                            @Html.DisplayNameFor(model => model.IdentificationNumber)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.IdentificationNumber)
                                            @Html.HiddenFor(model => model.IdentificationNumber)
                                        </dd>
                                        <dt class="col-sm-6">
                                            @Html.DisplayNameFor(model => model.Office)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.Office)
                                            @Html.HiddenFor(model => model.Office)
                                        </dd>

                                    </div>
                                    <div class="col-lg-6">
                                        <dt class="col-sm-6">
                                            @Html.DisplayNameFor(model => model.Position)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.Position)
                                            @Html.HiddenFor(model => model.Position)
                                        </dd>
                                        <dt class="col-sm-6">
                                            @Html.DisplayNameFor(model => model.Grade)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.Grade)
                                            @Html.HiddenFor(model => model.Grade)
                                        </dd>
                                        <dt class="col-sm-6">
                                            @Html.DisplayNameFor(model => model.BeginDate)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.BeginDate)
                                            @Html.HiddenFor(model => model.BeginDate)
                                        </dd>
                                        <dt class="col-sm-6">
                                            @Html.DisplayNameFor(model => model.Birthday)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.Birthday)
                                            @Html.HiddenFor(model => model.Birthday)
                                        </dd>

                                    </div>
                                </dl>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">Tabla Economica</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="sample_data" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Año</th>
                                    <th>Mes</th>
                                    <th>Salario Base</th>
                                    <th>Bono</th>

                                </tr>
                            </thead>
                            <tbody>
                            <tbody>
                                @foreach (var item in this.Model.LastSalariesDetails)
                                {
                                    <tr>
                                        <td>@item.Year</td>
                                        <td>@item.Month</td>
                                        <td>@item.BaseSalary</td>
                                        <td>@item.Bonus</td>
                                       
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                   
                </div>
            </div>
        </div>
        </div>
</form>