﻿@{
    ViewData["Title"] = "Error";
}

<h1 class="text-success">Excelente</h1>
<h2 class="text-success">Se ha procesado correctamente la solicitud.</h2>



<h3>Guardado exitoso</h3>
<p>
    La informacion ya se encuentra lista para consultar.
</p>
